// _list.scss

@use "text-colors";

ul {
    color: text-colors.$blue;
    abbr[title] {
      text-decoration: underline dashed red;
    }
  }
  
  li {
    &:hover {
      color: text-colors.$pink;
    }
  }
  